config firewall address
    edit "FABRIC_DEVICE"
        set comment "IPv4 addresses of Fabric Devices."
    next
    edit "SSLVPN_TUNNEL_ADDR1"
        set type iprange
        set associated-interface "ssl.root"
        set start-ip 10.212.134.200
        set end-ip 10.212.134.210
    next
    edit "all"
    next
    edit "FIREWALL_AUTH_PORTAL_ADDRESS"
        set visibility disable
    next
    edit "SRV_SAT_10.228.1.80"
        set subnet 10.228.1.80 255.255.255.255
    next
    edit "HST_PRINTERS"
        set type iprange
        set comment "HST_PRINTERS"
        set start-ip 10.111.88.120
        set end-ip 10.111.88.194
    next
    edit "NAS-BRIDGE01"
        set subnet 10.208.32.50 255.255.255.255
    next
    edit "IP_HOST_DIGIT_10.128.15.92/32"
        set comment "Host"
        set subnet 10.128.15.92 255.255.255.255
    next
    edit "IP_HOST_DIGIT_10.128.15.93/32"
        set comment "Host"
        set subnet 10.128.15.93 255.255.255.255
    next
    edit "IP_HOST_DIGIT_10.129.30.100/32"
        set comment "Host"
        set subnet 10.129.30.100 255.255.255.255
    next
    edit "IP_HOST_DIGIT_10.129.30.101/32"
        set comment "Host"
        set subnet 10.129.30.101 255.255.255.255
    next
    edit "VIP_DIGIT_EQX_10.128.22.216"
        set comment "VIP Servico Digitalizacao Loja (EQX)"
        set subnet 10.128.22.216 255.255.255.255
    next
    edit "VIP_DIGIT_SCS_10.129.22.190"
        set comment "VIP Servico Digitalizacao Loja (SCS)"
        set subnet 10.129.22.190 255.255.255.255
    next
    edit "bitbucket"
        set subnet 10.128.131.113 255.255.255.255
    next
    edit "intranetsistemas"
        set subnet 10.228.1.80 255.255.255.255
    next
    edit "IP_DNS_Infoblox_SCS"
        set type iprange
        set start-ip 10.129.8.75
        set end-ip 10.129.8.76
    next
    edit "IP_DNS_Infoblox_EQX"
        set type iprange
        set start-ip 10.128.8.75
        set end-ip 10.128.8.76
    next
    edit "IP_HOST_DNS_10.0.0.141"
        set subnet 10.0.0.141 255.255.255.255
    next
    edit "IP_HOST_DNS_10.0.0.154"
        set subnet 10.0.0.154 255.255.255.255
    next
    edit "TEF-1"
        set type iprange
        set start-ip 10.206.5.1
        set end-ip 10.206.5.7
    next
    edit "TEF-2"
        set type iprange
        set start-ip 10.206.5.13
        set end-ip 10.206.5.15
    next
    edit "TEF-3"
        set type iprange
        set start-ip 10.206.11.1
        set end-ip 10.206.11.6
    next
    edit "TEF-4"
        set subnet 10.206.5.17 255.255.255.255
    next
    edit "TEF-5"
        set subnet 10.206.5.19 255.255.255.255
    next
    edit "VIAMAISMOBILE"
        set subnet 10.128.22.139 255.255.255.255
    next
    edit "VIAMAISMOBILE-HLG"
        set subnet 10.128.22.137 255.255.255.255
    next
    edit "PDVSERVER"
        set subnet 10.128.22.201 255.255.255.255
    next
    edit "TEF-EQX"
        set type iprange
        set start-ip 10.128.32.132
        set end-ip 10.128.32.139
    next
    edit "hst_10.128.125.160"
        set comment "APP PDV Mobile Scope"
        set subnet 10.128.125.160 255.255.255.255
    next
    edit "hst_10.128.22.56"
        set comment "looqbox.viavarejo.com.br"
        set subnet 10.128.22.56 255.255.255.255
    next
    edit "hst_10.107.16.5"
        set comment "pp.viavarejo.com.br"
        set subnet 10.107.16.5 255.255.255.255
    next
    edit "login.microsoftonline.com"
        set type fqdn
        set fqdn "login.microsoftonline.com"
    next
    edit "login.microsoft.com"
        set type fqdn
        set fqdn "login.microsoft.com"
    next
    edit "login.windows.net"
        set type fqdn
        set fqdn "login.windows.net"
    next
    edit "gmail.com"
        set type fqdn
        set fqdn "gmail.com"
    next
    edit "wildcard.google.com"
        set type fqdn
        set fqdn "*.google.com"
    next
    edit "wildcard.dropbox.com"
        set type fqdn
        set fqdn "*.dropbox.com"
    next
    edit "VLAN192_LAN_Wifi_GUEST"
        set subnet 192.168.80.0 255.255.255.0
    next
    edit "VLAN216_LAN_WIFI_DEVCORP"
        set subnet {{LAN_Wifi_DEVCOR}}
    next
    edit "VLAN22_LAN_CB"
        set subnet {{LAN_CB}}
    next
    edit "VLAN212_LAN_WIFI_CORP"
        set subnet {{LAN_Wifi_Corp}}
    next
    edit "VLAN14_LAN_WIFI_DEVEXT"
        set subnet 192.168.14.0 255.255.255.0
    next
    edit "VLAN215_LAN_WIFI_MGMT"
        set subnet {{LAN_Wifi_Mgmt}}
    next
    edit "RD_10.0.0.0/8"
        set subnet 10.0.0.0 255.0.0.0
    next
    edit "RD_172.16.0.0/12"
        set subnet 172.16.0.0 255.240.0.0
    next
    edit "RD_192.168.0.0/16"
        set subnet 192.168.0.0 255.255.0.0
    next
    edit "IP_BRD_186.159.117.11/32"
        set subnet 186.159.117.11 255.255.255.255
    next
    edit "IP_BRD_186.159.117.12/32"
        set subnet 186.159.117.12 255.255.255.255
    next
    edit "IP_BRD_177.69.107.225/32"
        set subnet 177.69.107.225 255.255.255.255
    next
    edit "IP_BRD_200.174.54.18/32"
        set subnet 200.174.54.18 255.255.255.255
    next
    edit "IP_BRD_200.189.178.244/32"
        set subnet 200.189.178.244 255.255.255.255
    next
    edit "IP_BRD_200.198.75.242/32"
        set subnet 200.198.75.242 255.255.255.255
    next
    edit "IP_BRD_189.125.116.50/32"
        set subnet 189.125.116.50 255.255.255.255
    next
    edit "RD_CENTRAL_IMG_177.135.149.8/31"
        set subnet 177.135.149.8 255.255.255.254
    next
    edit "STG-VIAMAIS-CARRINHO-HLG_APP2.0"
        set subnet 10.101.18.180 255.255.255.255
    next
    edit "STG-VIAMAIS-CARRINHO-PRD_APP2.0"
        set subnet 10.101.16.10 255.255.255.255
    next
    edit "STG-VIAMAIS-CHECKOUT-HLG_APP2.0"
        set subnet 10.101.18.156 255.255.255.255
    next
    edit "STG-VIAMAIS-CHECKOUT-PRD_APP2.0"
        set subnet 10.101.16.108 255.255.255.255
    next
    edit "STG-VIAMAIS-CORE-HLG_APP2.0"
        set subnet 10.101.18.132 255.255.255.255
    next
    edit "STG-VIAMAIS-CORE-PRD_APP2.0"
        set subnet 10.101.16.84 255.255.255.255
    next
    edit "STG-VIAMAIS-NEGOCIACAO-HLG_APP2.0"
        set subnet 10.101.18.148 255.255.255.255
    next
    edit "STG-VIAMAIS-NEGOCIACAO-PRD_APP2.0"
        set subnet 10.101.16.100 255.255.255.255
    next
    edit "VV-VIAMAIS-CARRINHO-API-HLG_APP2.0"
        set subnet 10.101.20.134 255.255.255.255
    next
    edit "VV-VIAMAIS-CARRINHO-API-PRD_APP2.0"
        set subnet 10.101.1.135 255.255.255.255
    next
    edit "VV-VIAMAIS-CHECKOUT-API-HLG_APP2.0"
        set subnet 10.101.20.198 255.255.255.255
    next
    edit "VV-VIAMAIS-CHECKOUT-API-PRD_APP2.0"
        set subnet 10.101.2.7 255.255.255.255
    next
    edit "RD_CENTRAL_IMG_201.48.215.194/32"
        set subnet 201.48.215.194 255.255.255.255
    next
    edit "RD_CENTRAL_IMG_189.112.91.53/32"
        set subnet 189.112.91.53 255.255.255.255
    next
    edit "hst_10.128.22.142"
        set comment "Vendedor Online IP Interno"
        set subnet 10.128.22.142 255.255.255.255
    next
    edit "hst_10.128.22.27"
        set comment "pdvserver.viavarejo.com.br"
        set subnet 10.128.22.27 255.255.255.255
    next
    edit "hst_10.128.22.133"
        set comment "vv-multiskill-api-viamais-pdv.ocp-eqx.dc.nova"
        set subnet 10.128.22.133 255.255.255.255
    next
    edit "hst_10.128.22.144"
        set comment "Openshift4 Via Mais"
        set subnet 10.128.22.144 255.255.255.255
    next
    edit "hst_10.101.4.134"
        set comment "Bradescard"
        set subnet 10.101.4.134 255.255.255.255
    next
    edit "hst_10.128.22.156"
        set comment "Bradescard"
        set subnet 10.128.22.156 255.255.255.255
    next
    edit "APP_PAG_CARTEIRAS_DIGITAIS"
        set comment "CARTEIRA DIGITAL"
        set subnet 10.128.32.194 255.255.255.255
    next
    edit "Multiskill-PRD"
        set subnet 10.128.22.15 255.255.255.255
    next
    edit "IP_NET_PCI_10.108.3.128/27"
        set subnet 10.108.3.128 255.255.255.224
    next
    edit "IP_HOST_PCI_10.128.131.211/32"
        set comment "DESTINO_SALT_PCI"
        set subnet 10.128.131.211 255.255.255.255
    next
    edit "IP_HOST_PCI_10.128.131.212/32"
        set comment "DESTINO_SALT_PCI"
        set subnet 10.128.131.212 255.255.255.255
    next
    edit "IP_HOST_PCI_10.128.131.213/32"
        set comment "DESTINO_SALT_PCI"
        set subnet 10.128.131.213 255.255.255.255
    next
    edit "IP_HOST_PCI_10.128.131.214/32"
        set comment "DESTINO_SALT_PCI"
        set subnet 10.128.131.214 255.255.255.255
    next
    edit "IP_HOST_PCI_10.128.133.7/32"
        set comment "DESTINO_SALT_QA_PCI"
        set subnet 10.128.133.7 255.255.255.255
    next
    edit "IP_HOST_PCI_10.128.131.215/32"
        set comment "DESTINO_SALT_PULP_PCI"
        set subnet 10.128.131.215 255.255.255.255
    next
    edit "IP_HOST_PCI_10.128.13.188/32"
        set comment "DESTINO_WISE_PCI"
        set subnet 10.128.13.188 255.255.255.255
    next
    edit "IP_HOST_PCI_10.128.13.154/32"
        set comment "DESTINO_WISE_QA_PCI"
        set subnet 10.128.13.154 255.255.255.255
    next
    edit "IP_HOST_PCI_10.0.0.141/32"
        set comment "DESTINO_DNS1_PCI"
        set subnet 10.0.0.141 255.255.255.255
    next
    edit "IP_HOST_PCI_10.0.0.154/32"
        set comment "DESTINO_DNS2_PCI"
        set subnet 10.0.0.154 255.255.255.255
    next
    edit "IP_HOST_PCI_10.205.0.53/32"
        set comment "DESTINO_CTG_PCI"
        set subnet 10.205.0.53 255.255.255.255
    next
    edit "IP_HOST_PCI_10.207.96.10/32"
        set comment "DESTINO_SISTRANFE_PCI"
        set subnet 10.207.96.10 255.255.255.255
    next
    edit "IP_HOST_PCI_10.205.0.1/32"
        set comment "DESTINO_PCOM_PCI"
        set subnet 10.205.0.1 255.255.255.255
    next
    edit "IP_HOST_PCI_10.0.0.1/32"
        set comment "DESTINO_PCOM_BKP_PCI"
        set subnet 10.0.0.1 255.255.255.255
    next
    edit "IP_HOST_PCI_10.209.0.30/32"
        set comment "DESTINO_PROXY_FIREFOX1_PCI"
        set subnet 10.209.0.30 255.255.255.255
    next
    edit "IP_HOST_PCI_10.228.0.40/32"
        set comment "DESTINO_PROXY_FIREFOX2_PCI"
        set subnet 10.228.0.40 255.255.255.255
    next
    edit "IP_HOST_PCI_10.0.10.4/32"
        set comment "DESTINO_ADM_AUTOMACAO_PCI"
        set subnet 10.0.10.4 255.255.255.255
    next
    edit "IP_HOST_PCI_10.208.16.36/32"
        set comment "DESTINO_CAT1_PCI"
        set subnet 10.208.16.36 255.255.255.255
    next
    edit "IP_HOST_PCI_10.228.0.50/32"
        set comment "DESTINO_CAT2_PCI"
        set subnet 10.228.0.50 255.255.255.255
    next
    edit "IP_HOST_PCI_10.228.10.75/32"
        set comment "DESTINO_SPLUNK_PCI"
        set subnet 10.228.10.75 255.255.255.255
    next
    edit "IP_HOST_PCI_10.206.5.7/32"
        set comment "DESTINO_TEF_CB_LOJA_FISICA_IMPAR1_PCI"
        set subnet 10.206.5.7 255.255.255.255
    next
    edit "IP_HOST_PCI_10.206.11.5/32"
        set comment "DESTINO_TEF_PF_LOJA_FISICA_IMPAR_PCI"
        set subnet 10.206.11.5 255.255.255.255
    next
    edit "IP_HOST_PCI_10.206.5.5/32"
        set comment "DESTINO_TEF_CB_LOJA_FISICA_PAR1_PCI"
        set subnet 10.206.5.5 255.255.255.255
    next
    edit "IP_HOST_PCI_10.206.11.1/32"
        set comment "DESTINO_TEF_PF_LOJA_FISICA_PAR_PCI"
        set subnet 10.206.11.1 255.255.255.255
    next
    edit "IP_HOST_PCI_10.206.5.6/32"
        set comment "DESTINO_TEF_CB_LOJA_FISICA_IMPAR2_PCI"
        set subnet 10.206.5.6 255.255.255.255
    next
    edit "IP_HOST_PCI_10.206.5.4/32"
        set comment "DESTINO_TEF_CB_LOJA_FISICA_PAR2_PCI"
        set subnet 10.206.5.4 255.255.255.255
    next
    edit "IP_HOST_PCI_10.206.5.1/32"
        set comment "DESTINO_TEF_PF_LOJA_FISICA_PCI"
        set subnet 10.206.5.1 255.255.255.255
    next
    edit "IP_HOST_PCI_10.206.5.3/32"
        set comment "DESTINO_TEF_CB_LOJA_FISICA_PCI"
        set subnet 10.206.5.3 255.255.255.255
    next
    edit "IP_HOST_PCI_10.208.16.51/32"
        set comment "DESTINO_ANALISE_LINK_PCI"
        set subnet 10.208.16.51 255.255.255.255
    next
    edit "IP_HOST_PCI_10.206.5.2/32"
        set comment "DESTINO_TEF_PF_PAR_PCI"
        set subnet 10.206.5.2 255.255.255.255
    next
    edit "IP_HOST_PCI_10.206.5.13/32"
        set comment "DESTINO_TEF_CB_PAR_PCI"
        set subnet 10.206.5.13 255.255.255.255
    next
    edit "IP_HOST_PCI_10.100.110.100/32"
        set comment "DESTINO_PORTAL_SERVICO_PCI"
        set subnet 10.100.110.100 255.255.255.255
    next
    edit "IP_HOST_PCI_10.128.22.137/32"
        set comment "DESTINO_AIRFOX_PCI"
        set subnet 10.128.22.137 255.255.255.255
    next
    edit "IP_HOST_PCI_10.129.22.151/32"
        set comment "DESTINO_PROXY_VV2_PCI"
        set subnet 10.129.22.151 255.255.255.255
    next
    edit "IP_HOST_PCI_10.228.5.15/32"
        set comment "DESTINO_INTEGRADOR_AIRFOX_PCI"
        set subnet 10.228.5.15 255.255.255.255
    next
    edit "IP_HOST_PCI_10.128.22.224/32"
        set comment "DESTINO_VIP_F5_PCI"
        set subnet 10.128.22.224 255.255.255.255
    next
    edit "IP_HOST_PCI_10.128.8.155/32"
        set comment "DESTINO_SCAN_PCI"
        set subnet 10.128.8.155 255.255.255.255
    next
    edit "IP_HOST_PCI_10.128.48.12/32"
        set comment "DESTINO_SCAN_PCI"
        set subnet 10.128.48.12 255.255.255.255
    next
    edit "IP_HOST_PCI_10.128.70.12/32"
        set comment "DESTINO_SCAN_PCI"
        set subnet 10.128.70.12 255.255.255.255
    next
    edit "IP_HOST_PCI_10.128.13.240/32"
        set comment "DESTINO_SUSEMANAGER_PCI"
        set subnet 10.128.13.240 255.255.255.255
    next
    edit "IP_HOST_PCI_10.128.13.251/32"
        set comment "DESTINO_WISE_PCI"
        set subnet 10.128.13.251 255.255.255.255
    next
    edit "hst_10.105.13.8"
        set comment "Vendedor Online - vho-data-sync.viavarejo.com.br"
        set subnet 10.105.13.8 255.255.255.255
    next
end