config user ldap
    edit "LDAP_ViaCorp"
        set server "via.varejo.corp"
        set source-ip 10.111.88.100
        set cnid "sAMAccountName"
        set dn "DC=via,DC=varejo,DC=corp"
        set type regular
        set username "svc_fortinet"
        set password ENC MTAwNMcx0GaPmcOPhIfnsr+MGeRTi9v5LLIH72xxsZKtPlouKD03s2lVyCNzRSDR9Ql/dpJyIZCT9AX54Kfok+x/cdGW/sz7U8AyzKwFqXw0OBFlpzpt/OSdAXE1psZ+LOGhpcw0g4xzPGDb7UJUl+e5Ffa/0h7kaCQA6FZ/l2FjNz3b87eIcyyfq6wE2tj3AQl/XA==
    next
end