config log fortianalyzer setting
    set status enable
    set server "10.128.131.187"
    set serial "FAZ-VMTM21010873"
    set source-ip "10.111.88.100"
    set upload-option 1-minute
    set reliable enable
end