config webfilter urlfilter
    edit 2
        set name "Whitelist_Loja"
        config entries
            edit 1
                set url "bb.com.br*"
                set type regex
            next
            edit 2
                set url "itau.com.*"
                set type regex
            next
            edit 3
                set url "bancobrasil.com.br*"
                set type regex
            next
            edit 4
                set url ".orionintegracao.com.br"
                set type wildcard
                set action allow
            next
            edit 5
                set url "10.0.10.34"
                set type wildcard
                set action allow
            next
            edit 6
                set url "10.0.10.35"
                set type wildcard
                set action allow
            next
            edit 7
                set url "10.0.10.36"
                set type wildcard
                set action allow
            next
            edit 8
                set url "10.0.10.37"
                set type wildcard
                set action allow
            next
            edit 9
                set url "10.0.10.42"
                set type wildcard
                set action allow
            next
            edit 10
                set url "10.0.10.43"
                set type wildcard
                set action allow
            next
            edit 11
                set url "10.155.4.102"
                set type wildcard
                set action allow
            next
            edit 12
                set url "12.10.219.115"
                set type wildcard
                set action allow
            next
            edit 13
                set url "129.42.160.48"
                set type wildcard
                set action allow
            next
            edit 14
                set url "129.42.160.49"
                set type wildcard
                set action allow
            next
            edit 15
                set url "129.42.160.51"
                set type wildcard
                set action allow
            next
            edit 16
                set url "129.42.26.224"
                set type wildcard
                set action allow
            next
            edit 17
                set url "129.42.34.224"
                set type wildcard
                set action allow
            next
            edit 18
                set url "129.42.42.224"
                set type wildcard
                set action allow
            next
            edit 19
                set url "129.42.56.216"
                set type wildcard
                set action allow
            next
            edit 20
                set url "129.42.58.216"
                set type wildcard
                set action allow
            next
            edit 21
                set url "129.42.60.216"
                set type wildcard
                set action allow
            next
            edit 22
                set url "148.173.107.23"
                set type wildcard
                set action allow
            next
            edit 23
                set url "170.225.15.41"
                set type wildcard
                set action allow
            next
            edit 24
                set url "172.16.0.119:8280/csiadm"
                set type wildcard
                set action allow
            next
            edit 25
                set url "172.16.0.119:8280/csicrm"
                set type wildcard
                set action allow
            next
            edit 26
                set url "172.16.0.119:8280/csigerente"
                set type wildcard
                set action allow
            next
            edit 27
                set url "172.16.0.119:8280/csiworkflow"
                set type wildcard
                set action allow
            next
            edit 28
                set url "172.19.2.5"
                set type wildcard
                set action allow
            next
            edit 29
                set url "172.30.101.203"
                set type wildcard
                set action allow
            next
            edit 30
                set url "177.71.179.99"
                set type wildcard
                set action allow
            next
            edit 31
                set url "179.185.68.5:89"
                set type wildcard
                set action allow
            next
            edit 32
                set url "184.73.160.200"
                set type wildcard
                set action allow
            next
            edit 33
                set url "187.18.55.214"
                set type wildcard
                set action allow
            next
            edit 34
                set url "187.94.58.20"
                set type wildcard
                set action allow
            next
            edit 35
                set url "189.20.220.92/lyrae_brisamar"
                set type wildcard
                set action allow
            next
            edit 36
                set url "192.109.81.20"
                set type wildcard
                set action allow
            next
            edit 37
                set url "193.126.28.134"
                set type wildcard
                set action allow
            next
            edit 38
                set url "193.126.28.134:8110"
                set type wildcard
                set action allow
            next
            edit 39
                set url "200.162.4.141"
                set type wildcard
                set action allow
            next
            edit 40
                set url "200.200.138.84"
                set type wildcard
                set action allow
            next
            edit 41
                set url "200.216.51.45"
                set type wildcard
                set action allow
            next
            edit 42
                set url "200.217.4.71"
                set type wildcard
                set action allow
            next
            edit 43
                set url "200.220.0.185"
                set type wildcard
                set action allow
            next
            edit 44
                set url "200.222.97.19"
                set type wildcard
                set action allow
            next
            edit 45
                set url "200.244.55.132"
                set type wildcard
                set action allow
            next
            edit 46
                set url "200.99.7.11"
                set type wildcard
                set action allow
            next
            edit 47
                set url "201.27.63.211"
                set type wildcard
                set action allow
            next
            edit 48
                set url "201.55.60.24"
                set type wildcard
                set action allow
            next
            edit 49
                set url "201.55.60.26"
                set type wildcard
                set action allow
            next
            edit 50
                set url "201.55.60.27"
                set type wildcard
                set action allow
            next
            edit 51
                set url "201.63.225.223"
                set type wildcard
                set action allow
            next
            edit 52
                set url "201.67.76.23"
                set type wildcard
                set action allow
            next
            edit 53
                set url "201.76.164.253"
                set type wildcard
                set action allow
            next
            edit 54
                set url "204.146.30.17"
                set type wildcard
                set action allow
            next
            edit 55
                set url "207.25.252.197"
                set type wildcard
                set action allow
            next
            edit 56
                set url "207.25.252.200"
                set type wildcard
                set action allow
            next
            edit 57
                set url "207.25.252.204"
                set type wildcard
                set action allow
            next
            edit 58
                set url "4.59.136.208"
                set type wildcard
                set action allow
            next
            edit 59
                set url "4.59.136.233"
                set type wildcard
                set action allow
            next
            edit 60
                set url "46636069e59249c8.cdn.gocache.net"
                set type wildcard
                set action allow
            next
            edit 61
                set url "50.31.149.100"
                set type wildcard
                set action allow
            next
            edit 62
                set url "52.114.220.11"
                set type wildcard
                set action allow
            next
            edit 63
                set url "52.114.220.12"
                set type wildcard
                set action allow
            next
            edit 64
                set url "52.114.220.13"
                set type wildcard
                set action allow
            next
            edit 65
                set url "52.114.220.14"
                set type wildcard
                set action allow
            next
            edit 66
                set url "52.114.220.15"
                set type wildcard
                set action allow
            next
            edit 67
                set url "52.114.220.16"
                set type wildcard
                set action allow
            next
            edit 68
                set url "52.114.220.17"
                set type wildcard
                set action allow
            next
            edit 69
                set url "52.114.220.18"
                set type wildcard
                set action allow
            next
            edit 70
                set url "52.114.220.19"
                set type wildcard
                set action allow
            next
            edit 71
                set url "52.114.220.20"
                set type wildcard
                set action allow
            next
            edit 72
                set url "52.114.220.21"
                set type wildcard
                set action allow
            next
            edit 73
                set url "52.114.220.22"
                set type wildcard
                set action allow
            next
            edit 74
                set url "52.114.220.23"
                set type wildcard
                set action allow
            next
            edit 75
                set url "52.114.220.24"
                set type wildcard
                set action allow
            next
            edit 76
                set url "52.114.220.25"
                set type wildcard
                set action allow
            next
            edit 77
                set url "54.204.22.119"
                set type wildcard
                set action allow
            next
            edit 78
                set url "54.207.6.52"
                set type wildcard
                set action allow
            next
            edit 79
                set url "54.232.127.10"
                set type wildcard
                set action allow
            next
            edit 80
                set url "54.232.72.230"
                set type wildcard
                set action allow
            next
            edit 81
                set url "54.233.177.15"
                set type wildcard
                set action allow
            next
            edit 82
                set url "72.15.208.234"
                set type wildcard
                set action allow
            next
            edit 83
                set url "72.15.223.60"
                set type wildcard
                set action allow
            next
            edit 84
                set url "72.15.223.61"
                set type wildcard
                set action allow
            next
            edit 85
                set url "http://mirror.xmission.com/jenkins/*"
                set type wildcard
                set action allow
            next
            edit 86
                set url "http://sonatype"
                set type wildcard
                set action allow
            next
            edit 87
                set url "https://177.71.179.99/*"
                set type wildcard
                set action allow
            next
            edit 88
                set url "https://mirror.xmission.com/jenkins/*"
                set type wildcard
                set action allow
            next
            edit 89
                set url "https://saas.synchro.com.br/*"
                set type wildcard
                set action allow
            next
            edit 90
                set url "https://sfw.synchro.com.br/*"
                set type wildcard
                set action allow
            next
            edit 91
                set url "info.yourblended.com.br/s3/cd1e1011324eI"
                set type wildcard
                set action allow
            next
            edit 92
                set url "nfce.fazenda.ms.gov.br/*"
                set type wildcard
                set action allow
            next
            edit 93
                set url "nfce.fazenda.pr.gov.br/*"
                set type wildcard
                set action allow
            next
            edit 94
                set url "nfce.fazenda.sp.gov.br/*"
                set type wildcard
                set action allow
            next
            edit 95
                set url "nfce.sefaz.al.gov.br/*"
                set type wildcard
                set action allow
            next
            edit 96
                set url "nfce.sefaz.mt.gov.br/*"
                set type wildcard
                set action allow
            next
            edit 97
                set url "nfce.sefaz.mt.gov.br/*"
                set type wildcard
                set action allow
            next
            edit 98
                set url "nfce.sefaz.pe.gov.br/*"
                set type wildcard
                set action allow
            next
            edit 99
                set url "nfce.sefazrs.rs.gov.br/*"
                set type wildcard
                set action allow
            next
            edit 100
                set url "nfce.set.rn.gov.br/*"
                set type wildcard
                set action allow
            next
            edit 101
                set url "nfce.svrs.rs.gov.br/*"
                set type wildcard
                set action allow
            next
            edit 102
                set url "nfe.fazenda.gov.br"
                set type wildcard
                set action allow
            next
            edit 103
                set url "nfe.fazenda.sp.gov.br"
                set type wildcard
                set action allow
            next
            edit 104
                set url "nfe.prefeitura.sp.gov.br"
                set type wildcard
                set action allow
            next
            edit 105
                set url "nfe.sefaz.ba.gov.br/*"
                set type wildcard
                set action allow
            next
            edit 106
                set url "nfe.sefaz.go.gov.br/*"
                set type wildcard
                set action allow
            next
            edit 107
                set url "promo.gympass.com/competicaoviasaude"
                set type wildcard
                set action allow
            next
            edit 108
                set url "propaganda.novacasasbahia.com.br/CB_NEW/templates/login.html"
                set type wildcard
                set action allow
            next
            edit 109
                set url "propaganda2.novacasasbahia.com.br/Exhibit/templates/login.html"
                set type wildcard
                set action allow
            next
            edit 110
                set url "run4you.com.br/loja/circuito-vida-corrida-ribeirao-pretosp-funcionarios/"
                set type wildcard
                set action allow
            next
            edit 111
                set url "servicedesk.exbiz.com.br/qualitor/loginsolicitante.php"
                set type wildcard
                set action allow
            next
            edit 112
                set url "uniesp.edu.br/sites/policamp"
                set type wildcard
                set action allow
            next
            edit 113
                set url "webas.sefaz.pi.gov.br/nfceweb/consultarNFCe.jsf"
                set type wildcard
                set action allow
            next
            edit 114
                set url "webenergy.com.br/STM-ADN/Login/Login.aspx"
                set type wildcard
                set action allow
            next
            edit 115
                set url "www.acessodigital.com.br/grupopaodeacucar"
                set type wildcard
                set action allow
            next
            edit 116
                set url "www.dataprev.gov.br/servicos/cadint/cadint.html"
                set type wildcard
                set action allow
            next
            edit 117
                set url "www.dfe.ms.gov.br/nfce/"
                set type wildcard
                set action allow
            next
            edit 118
                set url "www.dfeportal.fazenda.pr.gov.br/dfe-portal/rest/servico/consultaNFCe"
                set type wildcard
                set action allow
            next
            edit 119
                set url "www.linkedin.com/company/viavarejo/careerstrk=top_nav_careers"
                set type wildcard
                set action allow
            next
            edit 120
                set url "www.nfce.fazenda.sp.gov.br/NFCeConsultaPublica/Paginas/ConsultaPublica.aspx"
                set type wildcard
                set action allow
            next
            edit 121
                set url "www.nfce.fazenda.sp.gov.br/NFCeConsultaPublica/Paginas/ConsultaQRCode.aspx"
                set type wildcard
                set action allow
            next
            edit 122
                set url "www.nfce.se.gov.br/portal/consultarNFCe.jsp"
                set type wildcard
                set action allow
            next
            edit 123
                set url "www.nfce.sefaz.ma.gov.br/portal/consultarNFCe.jsp"
                set type wildcard
                set action allow
            next
            edit 124
                set url "www.saeg.net.br/atendimento/2aviaconta"
                set type wildcard
                set action allow
            next
            edit 125
                set url "www.sefaz.mt.gov.br/nfce/consultanfce"
                set type wildcard
                set action allow
            next
            edit 126
                set url "www.sefaz.rs.gov.br/NFCE/NFCE-COM.aspx"
                set type wildcard
                set action allow
            next
            edit 127
                set url "www.spellenglish.com.br/principal.asp"
                set type wildcard
                set action allow
            next
            edit 128
                set url "www.youtube.com/watchv=_f214Bn3ue&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 129
                set url "www.youtube.com/watchv=_gZJBxzTwFo&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 130
                set url "www.youtube.com/watchv=-0cKHSVqA78&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 131
                set url "www.youtube.com/watchv=-GlXtFfdHsA&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 132
                set url "www.youtube.com/watchv=-t_ItMKGOfc&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 133
                set url "www.youtube.com/watchv=0-A28dA36Vs&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 134
                set url "www.youtube.com/watchv=1hK8PPcg8K8&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 135
                set url "www.youtube.com/watchv=1Ts_T4K9LdA&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 136
                set url "www.youtube.com/watchv=2Jkcf4JFdPo&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 137
                set url "www.youtube.com/watchv=5unvigErlTg&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 138
                set url "www.youtube.com/watchv=65L3kca-YWg&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 139
                set url "www.youtube.com/watchv=668yEpojmYA&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 140
                set url "www.youtube.com/watchv=8hCvf9UqX7E&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 141
                set url "www.youtube.com/watchv=8KoCsQ1jfwc&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 142
                set url "www.youtube.com/watchv=9-fkLIRHRmE&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 143
                set url "www.youtube.com/watchv=9fBXc4V2Wg4&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 144
                set url "www.youtube.com/watchv=9nR8k8iaDTU&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 145
                set url "www.youtube.com/watchv=9p8r_o8j-Ys"
                set type wildcard
                set action allow
            next
            edit 146
                set url "www.youtube.com/watchv=aj5h1q8IDG0&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 147
                set url "www.youtube.com/watchv=ARvpft3phzo&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 148
                set url "www.youtube.com/watchv=AWBsMrdbPi4&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 149
                set url "www.youtube.com/watchv=BNTYPAzyO4k&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 150
                set url "www.youtube.com/watchv=BsqjGqXGzPQ"
                set type wildcard
                set action allow
            next
            edit 151
                set url "www.youtube.com/watchv=CSEAiRC_6Ac&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 152
                set url "www.youtube.com/watchv=DpPIyqBiejU&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 153
                set url "www.youtube.com/watchv=DxUv2VmhZC0&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 154
                set url "www.youtube.com/watchv=ePd2NSG-ufY&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 155
                set url "www.youtube.com/watchv=eRKxYKpAxnw&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 156
                set url "www.youtube.com/watchv=f7H_zguk5Vo&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 157
                set url "www.youtube.com/watchv=FkDcTWW-208&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 158
                set url "www.youtube.com/watchv=FPhZGD-6kVQ&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 159
                set url "www.youtube.com/watchv=G1Xi1KIHRuE&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 160
                set url "www.youtube.com/watchv=GeLYZUyXF18"
                set type wildcard
                set action allow
            next
            edit 161
                set url "www.youtube.com/watchv=Gkdp08P7nyM"
                set type wildcard
                set action allow
            next
            edit 162
                set url "www.youtube.com/watchv=gs1zvHelywc&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 163
                set url "www.youtube.com/watchv=gwLTRRvBFaI&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 164
                set url "www.youtube.com/watchv=h9xw5zeTPDo&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 165
                set url "www.youtube.com/watchv=HA0OpIl1Cuc&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 166
                set url "www.youtube.com/watchv=hc3Ogn84e_g&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 167
                set url "www.youtube.com/watchv=hFxmSuyT8SI&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 168
                set url "www.youtube.com/watchv=HMQIugKeqhk&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 169
                set url "www.youtube.com/watchv=hV15jwOpOp0&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 170
                set url "www.youtube.com/watchv=hwy3L-_L_vk&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 171
                set url "www.youtube.com/watchv=IfW-5TsKDBc&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 172
                set url "www.youtube.com/watchv=iNhi6OOxwZc&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 173
                set url "www.youtube.com/watchv=IQpVZ6riMXk&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 174
                set url "www.youtube.com/watchv=Jfm5j3Uorh4&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 175
                set url "www.youtube.com/watchv=KADNFzuV37o"
                set type wildcard
                set action allow
            next
            edit 176
                set url "www.youtube.com/watchv=keyp5MOxzuE&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 177
                set url "www.youtube.com/watchv=kQjtK32mGJQ"
                set type wildcard
                set action allow
            next
            edit 178
                set url "www.youtube.com/watchv=Ku-S5zScT0g"
                set type wildcard
                set action allow
            next
            edit 179
                set url "www.youtube.com/watchv=lF-V0tzpm08&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 180
                set url "www.youtube.com/watchv=M_nGxBoVEeY"
                set type wildcard
                set action allow
            next
            edit 181
                set url "www.youtube.com/watchv=mGq2dw8TCis&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 182
                set url "www.youtube.com/watchv=n_dRsMJ3oFE"
                set type wildcard
                set action allow
            next
            edit 183
                set url "www.youtube.com/watchv=Ne32W_TV2uc&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 184
                set url "www.youtube.com/watchv=NlysI1bVgtQ&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 185
                set url "www.youtube.com/watchv=NoSjADAlduc&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 186
                set url "www.youtube.com/watchv=O4mbeIv2xgI&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 187
                set url "www.youtube.com/watchv=oOGzWiqsIFg&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 188
                set url "www.youtube.com/watchv=pcd4gXC4AKc&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 189
                set url "www.youtube.com/watchv=PEhV3zMaQ3s&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 190
                set url "www.youtube.com/watchv=PeNcRpe39iI&feature=youtu.b"
                set type wildcard
                set action allow
            next
            edit 191
                set url "www.youtube.com/watchv=PKunEErjxLw&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 192
                set url "www.youtube.com/watchv=qYuozABEtxM&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 193
                set url "www.youtube.com/watchv=RAqkZcDxvMQ&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 194
                set url "www.youtube.com/watchv=rZjFguM6Knk&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 195
                set url "www.youtube.com/watchv=S0GG5tNzPlA"
                set type wildcard
                set action allow
            next
            edit 196
                set url "www.youtube.com/watchv=SfiQ2TTHRUQ&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 197
                set url "www.youtube.com/watchv=sh3U4XT8b-0&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 198
                set url "www.youtube.com/watchv=SvdIDz5kTJU&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 199
                set url "www.youtube.com/watchv=TaVaSAAgaUU&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 200
                set url "www.youtube.com/watchv=tGGMf-5C2sM&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 201
                set url "www.youtube.com/watchv=tIiOXUZ2eCk&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 202
                set url "www.youtube.com/watchv=tOAYNctODSI&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 203
                set url "www.youtube.com/watchv=U0iw4P4S-7k&t=2s"
                set type wildcard
                set action allow
            next
            edit 204
                set url "www.youtube.com/watchv=U85y9610B9k&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 205
                set url "www.youtube.com/watchv=ufbZkexu7E0"
                set type wildcard
                set action allow
            next
            edit 206
                set url "www.youtube.com/watchv=UIRNJE7qV4Y&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 207
                set url "www.youtube.com/watchv=v6VTbbUolaY&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 208
                set url "www.youtube.com/watchv=vDE7cqkYnFs&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 209
                set url "www.youtube.com/watchv=ws6m17BHacA&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 210
                set url "www.youtube.com/watchv=X_IPRSNXHNI&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 211
                set url "www.youtube.com/watchv=X5JD5G-AmHs&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 212
                set url "www.youtube.com/watchv=xJIgUEJs_UE&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 213
                set url "www.youtube.com/watchv=Xo9JSD4tj_Q&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 214
                set url "www.youtube.com/watchv=xYiVJGWtCnk&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 215
                set url "www.youtube.com/watchv=y0PgWEbgAq4&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 216
                set url "www.youtube.com/watchv=ytQkMLblHJo"
                set type wildcard
                set action allow
            next
            edit 217
                set url "www.youtube.com/watchv=YyJ9drsI35g&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 218
                set url "www.youtube.com/watchv=Yz0YAw8uCj8&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 219
                set url "www.youtube.com/watchv=z58r9Js9n9g&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 220
                set url "www.youtube.com/watchv=zANrG-cR-ME"
                set type wildcard
                set action allow
            next
            edit 221
                set url "www.youtube.com/watchv=zmB_SMnWcyU&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 222
                set url "www.youtube.com/watchv=zWiuZMLNWh0"
                set type wildcard
                set action allow
            next
            edit 223
                set url "www.youtube.com/watchv=D0MtNJ5t4WE&feature=youtu.be"
                set type wildcard
                set action allow
            next
            edit 224
                set url "www.zupper.com.br/parceiro/burgerking"
                set type wildcard
                set action allow
            next
            edit 225
                set url "www4.fazenda.rj.gov.br/consultaNFCe/QRCode"
                set type wildcard
                set action allow
            next
            edit 226
                set url "www5.dataprev.gov.br/cnisinternet/faces/pages/index.xhtml"
                set type wildcard
                set action allow
            next
            edit 227
                set url "wwwl.montreal.com.br/TotalAgility"
                set type wildcard
                set action allow
            next
            edit 228
                set url "youtu.be"
                set type wildcard
                set action allow
            next
            edit 229
                set url "youtu.be/-GlXtFfdHsA"
                set type wildcard
                set action allow
            next
            edit 230
                set url "youtu.be/65L3kca-YWg"
                set type wildcard
                set action allow
            next
            edit 231
                set url "youtu.be/668yEpojmYA"
                set type wildcard
                set action allow
            next
            edit 232
                set url "youtu.be/9fBXc4V2Wg4"
                set type wildcard
                set action allow
            next
            edit 233
                set url "youtu.be/9nR8k8iaDTU"
                set type wildcard
                set action allow
            next
            edit 234
                set url "youtu.be/aj5h1q8IDG0"
                set type wildcard
                set action allow
            next
            edit 235
                set url "youtu.be/ATn2wIXCdgY"
                set type wildcard
                set action allow
            next
            edit 236
                set url "youtu.be/AWBsMrdbPi4"
                set type wildcard
                set action allow
            next
            edit 237
                set url "youtu.be/CuHFlFUE2wk"
                set type wildcard
                set action allow
            next
            edit 238
                set url "youtu.be/DxUv2VmhZC0"
                set type wildcard
                set action allow
            next
            edit 239
                set url "youtu.be/ePd2NSG-ufY"
                set type wildcard
                set action allow
            next
            edit 240
                set url "youtu.be/FraOxki2i6I"
                set type wildcard
                set action allow
            next
            edit 241
                set url "youtu.be/gwLTRRvBFaI"
                set type wildcard
                set action allow
            next
            edit 242
                set url "youtu.be/gWQCVY3-12k"
                set type wildcard
                set action allow
            next
            edit 243
                set url "youtu.be/HMQIugKeqhk"
                set type wildcard
                set action allow
            next
            edit 244
                set url "youtu.be/lFhjDffb01A"
                set type wildcard
                set action allow
            next
            edit 245
                set url "youtu.be/n_dRsMJ3oFE"
                set type wildcard
                set action allow
            next
            edit 246
                set url "youtu.be/qYuozABEtxM"
                set type wildcard
                set action allow
            next
            edit 247
                set url "youtu.be/v6VTbbUolaY"
                set type wildcard
                set action allow
            next
            edit 248
                set url "youtu.be/wrDMjXmurxI"
                set type wildcard
                set action allow
            next
            edit 249
                set url "youtu.be/Xo9JSD4tj_Q"
                set type wildcard
                set action allow
            next
            edit 250
                set url "youtu.be/yjFretSk8qo"
                set type wildcard
                set action allow
            next
            edit 251
                set url "youtu.be/Zf0YevsYwu0"
                set type wildcard
                set action allow
            next
            edit 252
                set url "youtu.be/zmB_SMnWcyU"
                set type wildcard
                set action allow
            next
            edit 253
                set url "youtube.com"
                set type wildcard
                set action allow
            next
            edit 254
                set url "banco.bradesco/soliciteseucartao"
                set type wildcard
                set action allow
            next
            edit 255
                set url "banco.bradesco/soliciteseucartao"
                set type wildcard
                set action allow
            next
            edit 256
                set url "descontomeucupom.com/loja/ponto-frio"
                set type wildcard
                set action allow
            next
            edit 257
                set url "itau.com.br/cartoes"
                set type wildcard
                set action allow
            next
            edit 258
                set url "itau.com.br/Pontofrio_Itaucard"
                set type wildcard
                set action allow
            next
            edit 259
                set url "itau.com.br/Walmart"
                set type wildcard
                set action allow
            next
            edit 260
                set url "www.itau.com.br/cartoes/escolha/cartao-credito"
                set type wildcard
                set action allow
            next
            edit 261
                set url "*.microsoft.com"
                set type wildcard
                set action allow
            next
            edit 262
                set url "*.msocdn.com"
                set type wildcard
                set action allow
            next
            edit 263
                set url "*.office.com"
                set type wildcard
                set action allow
            next
            edit 264
                set url "*.office.net"
                set type wildcard
                set action allow
            next
            edit 265
                set url "*.onmicrosoft.com"
                set type wildcard
                set action allow
            next
            edit 266
                set url "*.adobe.*"
                set type wildcard
                set action allow
            next
            edit 267
                set url "*.adobedtm.*"
                set type wildcard
                set action allow
            next
            edit 268
                set url "*.microsoftonline.com"
                set type wildcard
                set action allow
            next
            edit 269
                set url "support.netapp.com"
                set type wildcard
                set action allow
            next
            edit 270
                set url "nextassets.adobedtm.com"
                set type wildcard
                set action allow
            next
            edit 271
                set url "nextnovapontocom.d1.sc.omtrdc.net"
                set type wildcard
                set action allow
            next
            edit 272
                set url "nextdpm.demdex.net"
                set type wildcard
                set action allow
            next
            edit 273
                set url "nextviavarejo.demdex.net"
                set type wildcard
                set action allow
            next
            edit 274
                set url "nextvv.gestaodeescalas.com.br"
                set type wildcard
                set action allow
            next
            edit 275
                set url "nextaadcdn.msauth.net"
                set type wildcard
                set action allow
            next
            edit 276
                set url "nextaadcdn.msftauth.net"
                set action allow
            next
            edit 277
                set url "portal.office365.com"
                set type wildcard
                set action allow
            next
            edit 278
                set url "img.pontofrio.com.br"
                set type wildcard
                set action allow
            next
            edit 279
                set url "img.casasbahia.com.br"
                set type wildcard
                set action allow
            next
            edit 280
                set url "*consultaserialaparelho.com.br*"
                set type wildcard
            next
            edit 281
                set url "*asaplog.com.br*"
                set type wildcard
            next
            edit 282
                set url "*accounts.google.com*"
                set type wildcard
            next
            edit 283
                set url "*apis.google.com*"
                set type wildcard
            next
            edit 284
                set url "*api-viavarejo.dialog.cm*"
                set type wildcard
            next
            edit 285
                set url "*content.googleapis.com*"
                set type wildcard
            next
            edit 286
                set url "*d2wy8f7a9ursnm.cloudfront.net*"
                set type wildcard
            next
            edit 287
                set url "*fonts.googleapis.com*"
                set type wildcard
            next
            edit 288
                set url "*fonts.gstatic.com*"
                set type wildcard
            next
            edit 289
                set url "*login.live.com*"
                set type wildcard
            next
            edit 290
                set url "*login.microsoftonline.com*"
                set type wildcard
            next
            edit 291
                set url "*res.cloudinary.com*"
                set type wildcard
            next
            edit 292
                set url "notify.bugsnag.com*/"
                set type wildcard
            next
            edit 293
                set url "*ssl.gstatic.com*"
                set type wildcard
            next
            edit 294
                set url "*storage.googleapis.com*"
                set type wildcard
            next
            edit 295
                set url "*use.fontawesome.com*"
                set type wildcard
            next
            edit 296
                set url "*viavarejo-pwa.dialog.cm*"
                set type wildcard
            next
            edit 297
                set url "*www.googletagmanager.com*"
                set type wildcard
            next
            edit 298
                set url "*ocsp.msocsp.com*"
                set type wildcard
            next
            edit 299
                set url "*ocsp.comodoca.com*"
                set type wildcard
            next
            edit 300
                set url "*cipher.stream*"
                set type wildcard
                set action block
            next
            edit 301
                set url "*enelint.global*"
                set type wildcard
                set action block
            next
            edit 302
                set url "*reflect.fun*"
                set type wildcard
                set action block
            next
            edit 303
                set url "*reflect.name*"
                set type wildcard
                set action block
            next
            edit 304
                set url "*runtime.name*"
                set type wildcard
                set action block
            next
            edit 305
                set url "*time.date*"
                set type wildcard
                set action block
            next
            edit 306
                set url "*unicode.in*"
                set type wildcard
                set action block
            next
            edit 307
                set url "*www.cipher.stream*"
                set type wildcard
                set action block
            next
            edit 308
                set url "*ava.runtime.name*"
                set type wildcard
                set action block
            next
            edit 309
                set url "*existcontainer.runtime.name*"
                set type wildcard
                set action block
            next
            edit 310
                set url "*firstcontainer.runtime.name*"
                set type wildcard
                set action block
            next
            edit 311
                set url "*immutablecontainer.runtime.name*"
                set type wildcard
                set action block
            next
            edit 312
                set url "*java.runtime.name*"
                set type wildcard
                set action block
            next
            edit 313
                set url "*ljava.runtime.name*"
                set type wildcard
                set action block
            next
            edit 314
                set url "*njava.runtime.name*"
                set type wildcard
                set action block
            next
            edit 315
                set url "*product.runtime.name*"
                set type wildcard
                set action block
            next
            edit 316
                set url "*groovy.time.date*"
                set type wildcard
                set action block
            next
            edit 317
                set url "*162.255.119.54*"
                set type wildcard
                set action block
            next
            edit 318
                set url "*104.31.86.221*"
                set type wildcard
                set action block
            next
            edit 319
                set url "*104.31.87.221*"
                set type wildcard
                set action block
            next
            edit 320
                set url "*162.255.119.76*"
                set type wildcard
                set action block
            next
            edit 321
                set url "*172.67.154.42*"
                set type wildcard
                set action block
            next
            edit 322
                set url "*107.154.251.0*"
                set type wildcard
                set action block
            next
            edit 323
                set url "*146.133.2.119*"
                set type wildcard
                set action block
            next
            edit 324
                set url "*72.52.4.119*"
                set type wildcard
                set action block
            next
            edit 325
                set url "*184.168.221.56*"
                set type wildcard
                set action block
            next
            edit 326
                set url "*173.236.170.148*"
                set type wildcard
                set action block
            next
            edit 327
                set url "*166.62.102.12*"
                set type wildcard
                set action block
            next
            edit 328
                set url "*199.59.242.151*"
                set type wildcard
                set action block
            next
            edit 329
                set url "*199.59.242.152*"
                set type wildcard
                set action block
            next
            edit 330
                set url "*199.59.242.153*"
                set type wildcard
                set action block
            next
            edit 331
                set url "*50.62.35.53*"
                set type wildcard
                set action block
            next
            edit 332
                set url "*184.168.221.32*"
                set type wildcard
                set action block
            next
            edit 333
                set url "*184.168.221.36*"
                set type wildcard
                set action block
            next
            edit 334
                set url "*184.168.221.37*"
                set type wildcard
                set action block
            next
            edit 335
                set url "*184.168.221.38*"
                set type wildcard
                set action block
            next
            edit 336
                set url "*184.168.221.39*"
                set type wildcard
                set action block
            next
            edit 337
                set url "*184.168.221.43*"
                set type wildcard
                set action block
            next
            edit 338
                set url "*184.168.221.50*"
                set type wildcard
                set action block
            next
            edit 339
                set url "*184.168.221.51*"
                set type wildcard
                set action block
            next
            edit 340
                set url "*184.168.221.52*"
                set type wildcard
                set action block
            next
            edit 341
                set url "*184.168.221.54*"
                set type wildcard
                set action block
            next
            edit 342
                set url "*184.168.221.56*"
                set type wildcard
                set action block
            next
            edit 343
                set url "*50.63.202.34*"
                set type wildcard
                set action block
            next
            edit 344
                set url "*50.63.202.43*"
                set type wildcard
                set action block
            next
            edit 345
                set url "*50.63.202.44*"
                set type wildcard
                set action block
            next
            edit 346
                set url "*50.63.202.50*"
                set type wildcard
                set action block
            next
            edit 347
                set url "*50.63.202.53*"
                set type wildcard
                set action block
            next
            edit 348
                set url "*50.63.202.57*"
                set type wildcard
                set action block
            next
            edit 349
                set url "*50.63.202.59*"
                set type wildcard
                set action block
            next
            edit 350
                set url "*50.63.202.61*"
                set type wildcard
                set action block
            next
            edit 351
                set url "*50.63.202.63*"
                set type wildcard
                set action block
            next
            edit 352
                set url "*renegocie.casasbahia.com.br*"
                set type wildcard
            next
            edit 353
                set url "*s3-sa-east-1.amazonaws.com*"
                set type wildcard
            next
            edit 354
                set url "*.solucx.com.br*"
                set type wildcard
            next
            edit 355
                set url "*.fontawesome.com*"
                set type wildcard
            next
            edit 356
                set url "*.jquery.com*"
                set type wildcard
            next
            edit 357
                set url "*.cloudflare.com*"
                set type wildcard
            next
            edit 358
                set url "*.bootstrapcdn.com*"
                set type wildcard
            next
            edit 359
                set url "*.highcharts.com*"
                set type wildcard
            next
            edit 360
                set url "*cdccorp.viavarejo.com.br*"
                set type wildcard
            next
            edit 361
                set url "
*cdcdigital.viavarejo.com.br*"
                set type wildcard
            next
            edit 362
                set url "*gstatic.com*"
                set type wildcard
            next
            edit 363
                set url "*google.com*"
                set type wildcard
            next
            edit 364
                set url "*hcm19.sapsf.*"
                set type wildcard
            next
            edit 365
                set url "*hcm19preview.*"
                set type wildcard
            next
            edit 366
                set url "*unicorh.com.br*"
                set type wildcard
            next
            edit 367
                set url "*soc.com.br*"
                set type wildcard
            next
            edit 368
                set url "*pesquisa.gptw.com.br*"
                set type wildcard
            next
            edit 369
                set url "*idp.gptw.com.br*"
                set type wildcard
            next
            edit 370
                set url "*pulses.com.br*"
                set type wildcard
            next
            edit 371
                set url "*https://viavarejo.umanni.com.br*"
                set type wildcard
            next
            edit 372
                set url "*​https://viavarejoh.umanni.com.br*"
                set type wildcard
            next
            edit 373
                set url "*crossknowledge*"
                set type wildcard
            next
            edit 374
                set url "*tradeappone*"
                set type wildcard
            next
            edit 375
                set url "*octadesk*"
                set type wildcard
            next
            edit 376
                set url "*m4u*"
                set type wildcard
            next
            edit 377
                set url "*concursolutions*"
                set type wildcard
            next
            edit 378
                set url "*iframe*"
                set type wildcard
            next
            edit 379
                set url "*ahgora*"
                set type wildcard
            next
            edit 380
                set url "*casasbahia.com.br*"
                set type wildcard
            next
            edit 381
                set url "*pontofrio.com.br*"
                set type wildcard
            next
            edit 382
                set url "*extra.com.br*"
                set type wildcard
            next
            edit 383
                set url "*trustarc.com*"
                set type wildcard
            next
            edit 384
                set url "*minhavia*"
                set type wildcard
            next
            edit 385
                set url "*imgs.via.com.br*"
                set type wildcard
            next
            edit 386
                set url "*.wssatsp.fazenda.sp.gov.br*"
                set type wildcard
            next
            edit 387
                set url "*.cfews.sefaz.ce.gov.br*"
                set type wildcard
            next
            edit 388
                set url "*.conecta.via.com.br*"
                set type wildcard
            next
            edit 389
                set url "*imgs.casasbahia.com.br*"
                set type wildcard
            next
            edit 390
                set url "*imgs.pontofrio.com.br*"
                set type wildcard
            next
            edit 391
                set url "*imgs.ponto.com.br*"
                set type wildcard
            next
            edit 392
                set url "*imgs.extra.com.br*"
                set type wildcard
            next
            edit 393
                set url "*wssatnacional.fazenda.sp.gov.br*"
                set type wildcard
            next
            edit 394
                set url "*bcpa.net.bradescard.com.br*"
                set type wildcard
            next
            edit 395
                set url "*.elucidat.com.*"
                set type wildcard
            next
            edit 396
                set url "*elucidat.com*"
                set type wildcard
            next
            edit 397
                set url "*beta.indicafix.com.br*"
                set type wildcard
            next
            edit 398
                set url "*happmobi.com.br*"
                set type wildcard
            next
            edit 399
                set url "*.skore.io*"
                set type wildcard
            next
            edit 400
                set url "*.learning.rocks"
                set type wildcard
            next
            edit 401
                set url "*.skore.ai"
                set type wildcard
            next
            edit 402
                set url "*.smooch.io"
                set type wildcard
            next
            edit 403
                set url "*.polyfill.io"
                set type wildcard
            next
            edit 404
                set url "*.google-analytics.com"
                set type wildcard
            next
            edit 405
                set url "*.retool-edge.com"
                set type wildcard
            next
            edit 406
                set url "*.tryretool.com"
                set type wildcard
            next
            edit 407
                set url "*.cloudflare.com"
                set type wildcard
            next
            edit 408
                set url "*.cloud.scorm.com"
                set type wildcard
            next
            edit 409
                set url "*.kaltura.com"
                set type wildcard
            next
            edit 410
                set url "*.firebase.com"
                set type wildcard
            next
            edit 411
                set url "*.firebaseio.com"
                set type wildcard
            next
            edit 412
                set url "*.officeapps.live.com*"
                set type wildcard
            next
            edit 413
                set url "*cdn.jsdelivr.net*"
                set type wildcard
            next
            edit 414
                set url "*skore-staging.s3.amazonaws.com*"
                set type wildcard
            next
            edit 415
                set url "*.jwpcdn.com*"
                set type wildcard
            next
        end
    next
    edit 3
        set name "WF_PDR_VENDEDOR"
        config entries
            edit 1
                set url "*img.casasbahia.com.br*"
                set type wildcard
                set action monitor
            next
            edit 2
                set url "*static.akamaitechnologies.com*"
                set type wildcard
                set action monitor
            next
            edit 3
                set url "*.cloudfront.net*"
                set type wildcard
            next
            edit 4
                set url "*.zoom.us*"
                set type wildcard
            next
            edit 5
                set url "*casasbahia-imagens*"
                set type wildcard
            next
            edit 6
                set url "*.google.*"
                set type wildcard
            next
            edit 7
                set url "*.manage.microsoft.com*"
                set type wildcard
            next
            edit 8
                set url "*mdmgestao.com.br*"
                set type wildcard
            next
            edit 9
                set url "*login.microsoftonline.com*"
                set type wildcard
            next
            edit 10
                set url "*.officeconfig.msocdn.com*"
                set type wildcard
            next
            edit 11
                set url "*config.office.com*"
                set type wildcard
            next
            edit 12
                set url "*graph.windows.net*"
                set type wildcard
            next
            edit 13
                set url "*enterpriseregistration.windows.net*"
                set type wildcard
            next
            edit 14
                set url "*.msftconnecttest.com*"
                set type wildcard
            next
            edit 15
                set url "*.azure.*"
                set type wildcard
            next
            edit 16
                set url "*redirector.gvt1.com*"
                set type wildcard
            next
            edit 17
                set url "*beacons5.gvt3.com*"
                set type wildcard
            next
            edit 18
                set url "*beacons.gvt2.com*"
                set type wildcard
            next
            edit 19
                set url "*connectivitycheck.android.com*"
                set type wildcard
            next
            edit 20
                set url "*pontofrio-imagens*"
                set type wildcard
            next
            edit 21
                set url "*connectivitycheck.gstatic.com*"
                set type wildcard
            next
            edit 22
                set url "*dlwnextsetting.cloudapp.net*"
                set type wildcard
            next
            edit 23
                set url "*.clubedepremios.*"
                set type wildcard
            next
            edit 24
                set url "*.ssiloc.com*"
                set type wildcard
            next
            edit 25
                set url "*.viavarejo.*"
                set type wildcard
            next
            edit 26
                set url "*.cloudapp.net"
                set type wildcard
            next
            edit 27
                set url "*.centrify.com"
                set type wildcard
            next
            edit 28
                set url "*.samsungknox.com"
                set type wildcard
            next
            edit 29
                set url "*.public-trust.*"
                set type wildcard
            next
            edit 30
                set url "*gvt1.com*"
                set type wildcard
            next
            edit 31
                set url "*gvt2.com*"
                set type wildcard
            next
            edit 32
                set url "prod-knoxlog.*"
                set type wildcard
            next
            edit 33
                set url "account.samsung.*"
                set type wildcard
            next
            edit 34
                set url "us-elm.*"
                set type wildcard
            next
            edit 35
                set url "*graph.facebook.com*"
                set type wildcard
            next
            edit 36
                set url "gslb.*"
                set type wildcard
            next
            edit 37
                set url "us-prod-klm-b2c.*"
                set type wildcard
            next
            edit 38
                set url "us-prod-klm.*"
                set type wildcard
            next
            edit 39
                set url "usprod-knoxlog.*"
                set type wildcard
            next
            edit 40
                set url "*aadcdn.msftauthimages.net*"
                set type wildcard
            next
            edit 41
                set url "*vendedoronline.viavarejo.com.br*"
                set type wildcard
            next
            edit 42
                set url "*accounts.google.com*"
                set type wildcard
            next
            edit 43
                set url "*apis.google.com*"
                set type wildcard
            next
            edit 44
                set url "*api-viavarejo.dialog.cm*"
                set type wildcard
            next
            edit 45
                set url "*content.googleapis.com*"
                set type wildcard
            next
            edit 46
                set url "*d2wy8f7a9ursnm.cloudfront.net*"
                set type wildcard
            next
            edit 47
                set url "*fonts.googleapis.com*"
                set type wildcard
            next
            edit 48
                set url "*fonts.gstatic.com*"
                set type wildcard
            next
            edit 49
                set url "*login.live.com*"
                set type wildcard
            next
            edit 50
                set url "*login.microsoftonline.com*"
                set type wildcard
            next
            edit 51
                set url "*res.cloudinary.com*"
                set type wildcard
            next
            edit 52
                set url "*.bugsnag.com*"
                set type wildcard
            next
            edit 53
                set url "*ssl.gstatic.com*"
                set type wildcard
            next
            edit 54
                set url "*storage.googleapis.com*"
                set type wildcard
            next
            edit 55
                set url "*use.fontawesome.com*"
                set type wildcard
            next
            edit 56
                set url "*viavarejo-pwa.*"
                set type wildcard
            next
            edit 57
                set url "*www.googletagmanager.com*"
                set type wildcard
            next
            edit 58
                set url "*ocsp.msocsp.com*"
                set type wildcard
            next
            edit 59
                set url "*ocsp.comodoca.com*"
                set type wildcard
            next
            edit 60
                set url "*email.casasbahia.com.br*"
                set type wildcard
            next
            edit 61
                set url "*dshop.com.br*"
                set type wildcard
            next
            edit 62
                set url "*fonts.googleapis.com*"
                set type wildcard
            next
            edit 63
                set url "*fonts.gstatic.com*"
                set type wildcard
            next
            edit 64
                set url "*www.google-analytics.com*"
                set type wildcard
            next
            edit 65
                set url "*embed.tawk.to*"
                set type wildcard
            next
            edit 66
                set url "*.skore.io*"
                set type wildcard
            next
            edit 67
                set url "*aadcdn.msftauth.net*"
                set type wildcard
            next
            edit 68
                set url "*accounts.google.com*"
                set type wildcard
            next
            edit 69
                set url "*.microsoft.*"
                set type wildcard
            next
            edit 70
                set url "*clubedepremios.*"
                set type wildcard
            next
            edit 71
                set url "*viavarejo.service-now.com*"
                set type wildcard
            next
            edit 72
                set url "looqbox.viavarejo.com.br*"
                set type wildcard
            next
            edit 73
                set url "mlooqbox.viavarejo.com.br*"
                set type wildcard
            next
            edit 74
                set url "w3.org*"
                set type wildcard
            next
            edit 75
                set url "expo.io*"
                set type wildcard
            next
            edit 76
                set url "exp.host*"
                set type wildcard
            next
            edit 77
                set url "*.googleapis.*"
                set type wildcard
            next
            edit 78
                set url "mobile.looqbox.com*"
                set type wildcard
            next
            edit 79
                set url "*looqbox.com*"
                set type wildcard
            next
            edit 80
                set url "*pdvserver.viavarejo.com.br*"
                set type wildcard
            next
            edit 81
                set url "*casasbahiaimagens.viavarejo.com.br*"
                set type wildcard
            next
            edit 82
                set url "*pontofrioimagens.viavarejo.com.br*"
                set type wildcard
            next
            edit 83
                set url "*tef-cb-impar-01.viavarejo.com.br*"
                set type wildcard
            next
            edit 84
                set url "*tef-cb-impar-02.viavarejo.com.br*"
                set type wildcard
            next
            edit 85
                set url "*tef-cb-par-01.viavarejo.com.br*"
                set type wildcard
            next
            edit 86
                set url "*tef-cb-par-02.viavarejo.com.br*"
                set type wildcard
            next
            edit 87
                set url "*tef-cb-piloto.viavarejo.com.br*"
                set type wildcard
            next
            edit 88
                set url "*tef-pf-impar-01.viavarejo.com.br*"
                set type wildcard
            next
            edit 89
                set url "*tef-pf-par-01.viavarejo.com.br*"
                set type wildcard
            next
            edit 90
                set url "*tef-pf-piloto.viavarejo.com.br*"
                set type wildcard
            next
            edit 91
                set url "*mobileapp.viavarejo.com.br/appvendedor*"
                set type wildcard
                set action block
            next
            edit 92
                set url "*appvendedor.viavarejo.com.br/appvendedor*"
                set type wildcard
                set action block
            next
            edit 93
                set url "*casasbahia.com.br*"
                set type wildcard
            next
            edit 94
                set url "*pontofrio.com.br*"
                set type wildcard
            next
            edit 95
                set url "*us-central1-via-varejo-plugin-ponto-online.cloudfunctions.net*"
                set type wildcard
            next
            edit 96
                set url "*.skore.ai*"
                set type wildcard
            next
            edit 97
                set url "*skoreio.sa.looker.com*"
                set type wildcard
            next
            edit 98
                set url "*.kaltura.com*"
                set type wildcard
            next
            edit 99
                set url "*.cloud.scorm.com*"
                set type wildcard
            next
            edit 100
                set url "*.cloudflare.com*"
                set type wildcard
            next
            edit 101
                set url "*.tryretool.com*"
                set type wildcard
            next
            edit 102
                set url "*.retool-edge.com*"
                set type wildcard
            next
            edit 103
                set url "*.polyfill.io*"
                set type wildcard
            next
            edit 104
                set url "*.config.smooch.io*"
                set type wildcard
            next
            edit 105
                set url "*.cdn.smooch.io*"
                set type wildcard
            next
            edit 106
                set url "*.smooch.io*"
                set type wildcard
            next
            edit 107
                set url "*.cloudinary.com*"
                set type wildcard
            next
            edit 108
                set url "*cdn.jsdelivr.net*"
                set type wildcard
            next
            edit 109
                set url "*gstatic*"
                set type wildcard
            next
            edit 110
                set url "*marketingcloudapis*"
                set type wildcard
            next
            edit 111
                set url "*appsflyer*"
                set type wildcard
            next
            edit 112
                set url "*crashlytics*"
                set type wildcard
            next
            edit 113
                set url "*.tradeappone.*"
                set type wildcard
            next
            edit 114
                set url "*.octadesk.*"
                set type wildcard
            next
            edit 115
                set url "*.m4u.*"
                set type wildcard
            next
            edit 116
                set url "*va.tawk.to*"
                set type wildcard
            next
            edit 117
                set url "*whatsapp*"
                set type wildcard
            next
            edit 118
                set url "*static.xx.fbcdn.net*"
                set type wildcard
            next
            edit 119
                set url "*dl.bintray.com*"
                set type wildcard
            next
            edit 120
                set url "*akamai.bintray.com*"
                set type wildcard
            next
            edit 121
                set url "*wa.me*"
                set type wildcard
            next
            edit 122
                set url "*stats.g.doubleclick.net*"
                set type wildcard
            next
            edit 123
                set url "*hotjar*"
                set type wildcard
            next
            edit 125
                set url "*imgs.via.com.br*"
                set type wildcard
            next
            edit 126
                set url "*imgs.via.com.br*"
                set type wildcard
            next
            edit 127
                set url "*.useberry.com*"
                set type wildcard
            next
            edit 129
                set url "*integration.clear.sale*"
                set type wildcard
            next
            edit 130
                set url "*www.casasbahia-imagens.com.br*"
                set type wildcard
            next
            edit 131
                set url "*api.segment.io**api.segment.io*"
                set type wildcard
            next
            edit 132
                set url "**prod-gateway-mobile.mgensuite.com*"
                set type wildcard
            next
            edit 133
                set url "*api2.amplitude.com*"
                set type wildcard
            next
            edit 134
                set url "api.eu.amplitude.com"
                set type wildcard
            next
            edit 135
                set url "*viacep.com.br*"
                set type wildcard
            next
            edit 136
                set url "*banqi.zendesk.com*"
                set type wildcard
            next
            edit 137
                set url "*airfox-lending-app-production.firebaseio.com*"
                set type wildcard
            next
            edit 138
                set url "*banqi.com.br*"
                set type wildcard
            next
            edit 139
                set url "*api.bugfender.com*"
                set type wildcard
            next
            edit 140
                set url "*eu1.clevertap-prod.com*"
                set type wildcard
            next
            edit 141
                set url "*api2.branch.io*"
                set type wildcard
            next
            edit 142
                set url "*verify.uxcam.com*"
                set type wildcard
            next
            edit 143
                set url "*airfox-phone-carriers.s3.amazonaws.com*"
                set type wildcard
            next
            edit 144
                set url "*cdn-settings.segment.com*"
                set type wildcard
            next
            edit 145
                set url "*firebaselogging-pa.googleapis.com*"
                set type wildcard
            next
            edit 146
                set url "*launches.appsflyer.com*"
                set type wildcard
            next
            edit 147
                set url "*marketplace.prod.banqi.com.br*"
                set type wildcard
            next
            edit 148
                set url "*airfox-pt.ada.support*"
                set type wildcard
            next
            edit 149
                set url "*cbbanqi.onelink.me*"
                set type wildcard
            next
            edit 150
                set url "*banqi.onelink.me*"
                set type wildcard
            next
            edit 151
                set url "*imgs.casasbahia.com.br*"
                set type wildcard
            next
            edit 152
                set url "*imgs.pontofrio.com.br*"
                set type wildcard
            next
            edit 153
                set url "*imgs.ponto.com.br*"
                set type wildcard
            next
            edit 154
                set url "*imgs.extra.com.br*"
                set type wildcard
            next
            edit 155
                set url "*samsung.com*"
                set type wildcard
            next
            edit 156
                set url "*privatelabel.via.com.br*"
                set type wildcard
            next
            edit 157
                set url "*app.useberry.com*"
                set type wildcard
            next
            edit 158
                set url "*api.useberry.com*"
                set type wildcard
            next
            edit 159
                set url "*storage.useberry.com*"
                set type wildcard
            next
            edit 160
                set url "*.useberry.com*"
                set type wildcard
            next
            edit 161
                set url "*minhavia.com.br*"
                set type wildcard
            next
            edit 162
                set url "*hcm19.sapsf.com*"
                set type wildcard
            next
            edit 163
                set url "*sistema.soc.com.br*"
                set type wildcard
            next
            edit 164
                set url "*app.unicorh.com.br*"
                set type wildcard
            next
            edit 165
                set url "*ahgora.com.br*"
                set type wildcard
            next
            edit 166
                set url "*ahgora.com.br*"
                set type wildcard
            next
            edit 167
                set url "*api.powerbi.com*"
                set type wildcard
            next
            edit 168
                set url "*.analysis.windows.net*"
                set type wildcard
            next
            edit 169
                set url "*.pbidedicated.windows.net*"
                set type wildcard
            next
            edit 170
                set url "*content.powerapps.com*"
                set type wildcard
            next
            edit 171
                set url "*.powerbi.com*"
                set type wildcard
            next
            edit 172
                set url "*dc.services.visualstudio.com*"
                set type wildcard
            next
            edit 173
                set url "*arc.msn.com*"
                set type wildcard
            next
            edit 174
                set url "*nps.onyx.azure.net*"
                set type wildcard
            next
            edit 175
                set url "*appsource.microsoft.com*"
                set type wildcard
            next
            edit 176
                set url "*.s-microsoft.com*"
                set type wildcard
            next
            edit 177
                set url "*.azureedge.net*"
                set type wildcard
            next
            edit 178
                set url "*.blob.core.windows.net*"
                set type wildcard
            next
            edit 179
                set url "*.osi.office.net*"
                set type wildcard
            next
            edit 180
                set url "*.msecnd.net*"
                set type wildcard
            next
            edit 181
                set url "*store.office.com*"
                set type wildcard
            next
            edit 182
                set url "*web.vortex.data.microsoft.com*"
                set type wildcard
            next
            edit 183
                set url "*store-images.s-microsoft.com*"
                set type wildcard
            next
            edit 184
                set url "*teams.cdn.office.net*"
                set type wildcard
            next
            edit 185
                set url "*.windowsazure.com*"
                set type wildcard
            next
            edit 186
                set url "*.msauth.net*"
                set type wildcard
            next
            edit 187
                set url "*.microsoftonline-p.com*"
                set type wildcard
            next
            edit 188
                set url "*outlookmobile.com*"
                set type wildcard
            next
            edit 189
                set url "*officeapps.live.com*"
                set type wildcard
            next
            edit 190
                set url "*msedge.net*"
                set type wildcard
            next
            edit 191
                set url "*mlcdn.com.br*"
                set type wildcard
            next
            edit 192
                set url "*office365.com*"
                set type wildcard
            next
            edit 193
                set url "*.skype.com*"
                set type wildcard
            next
            edit 194
                set url "*office.com*"
                set type wildcard
            next
            edit 195
                set url "*office.net*"
                set type wildcard
            next
            edit 196
                set url "*windows.net*"
                set type wildcard
            next
            edit 197
                set url "*sfbassets.com*"
                set type wildcard
            next
            edit 198
                set url "*giphy.com*"
                set type wildcard
            next
            edit 199
                set url "*.fbcdn.net*"
                set type wildcard
            next
            edit 200
                set url "*adobecorp.sc.omtrdc.net*"
                set type wildcard
            next
            edit 201
                set url "*.newrelic.com*"
                set type wildcard
            next
            edit 202
                set url "*.concursolutions.com*"
                set type wildcard
            next
            edit 203
                set url "*api.apptentive.com*"
                set type wildcard
            next
            edit 204
                set url "*consent.trustarc.com*"
                set type wildcard
            next
            edit 205
                set url "*mozilla.org*"
                set type wildcard
            next
            edit 206
                set url "*mozilla.com*"
                set type wildcard
            next
            edit 207
                set url "*teste-usabilidade-via-default-rtdb.firebaseio.com*"
                set type wildcard
            next
            edit 208
                set url "*firebase-settings.crashlytics.com*"
                set type wildcard
            next
            edit 209
                set url "*ssl.google-analytics.com*"
                set type wildcard
            next
            edit 210
                set url "*oneclient.sfx.ms*"
                set type wildcard
            next
            edit 211
                set url "*mobiledatacloud.wiley.com*"
                set type wildcard
            next
            edit 212
                set url "*.ipify.org*"
                set type wildcard
            next
            edit 213
                set url "*.learning.rocks"
                set type wildcard
            next
            edit 214
                set url "*.cloudflare.com"
                set type wildcard
            next
            edit 215
                set url "*.cloud.scorm.com"
                set type wildcard
            next
            edit 216
                set url "*.kaltura.com"
                set type wildcard
            next
            edit 217
                set url "*.firebase.com"
                set type wildcard
            next
            edit 218
                set url "*.firebaseio.com"
                set type wildcard
            next
            edit 219
                set url "*.officeapps.live.com*"
                set type wildcard
            next
            edit 220
                set url "*cdn.jsdelivr.net*"
                set type wildcard
            next
            edit 221
                set url "*skore-staging.s3.amazonaws.com*"
                set type wildcard
            next
            edit 222
                set url "*.jwpcdn.com*"
                set type wildcard
            next
        end
    next
end