config system global
    set admin-https-redirect disable
    set admin-sport 11443
    set admintimeout 480
    set gui-theme mariner
    set hostname {{ hostname }}
    set proxy-auth-timeout 5
    set switch-controller enable
    set timezone 18
end
