config user tacacs+
    edit "tac_plus"
        set server "10.128.140.25"
        set secondary-server "10.129.31.25"
        set key ENC rdjtla5fe1aICSvnXxEvLzdOQ07Ijbqnge8AJnrtaNsky5+gtsMeOvrwbMN+r4gphGEPzi4G5jNdkrxSoLZowgukMeOrfT+y80exCRMM/Cy1Y7bFg3mmG27Rzuf59cS9LB74Ty7kkfZVUtLgZx1M5Ni/vR6YZ0Cj0Tjw1QitseH+Z3u39M+RoJLKe4PiBg2Kg9Tlvg==
        set secondary-key ENC Xzz47Ry5VJviP1EV22rEljj5NCJQcWlAWpAzElMZtUi6P9j16BDXOySy2eT4P1eupvlrVLDJjo5ac3EeCf824F0xSGP/j/RvwlT6O3bjLnVqQL6GX7cL5UD07PtP28h8kKKO1G1OpRZpSaQ7tgjI1+VaouzCkmm/1BRbyrooT73XKw7QeVh3gI2NE726Y56snrQu9g==
        set authorization enable
        set source-ip {{gateway_vlan22}}
    next
end
