config firewall ssl-ssh-profile
    edit "no-inspection"
        set comment "Read-only profile that does no inspection."
        config https
            set status disable
        end
        config ftps
            set status disable
        end
        config imaps
            set status disable
        end
        config pop3s
            set status disable
        end
        config smtps
            set status disable
        end
        config ssh
            set ports 22
            set status disable
        end
    next
    edit "certificate-inspection"
        set comment "Read-only SSL handshake inspection profile."
        config https
            set ports 443
            set status certificate-inspection
        end
        config ftps
            set ports 990
            set status deep-inspection
        end
        config imaps
            set ports 993
            set status deep-inspection
        end
        config pop3s
            set ports 995
            set status deep-inspection
        end
        config smtps
            set ports 465
            set status deep-inspection
        end
        config ssh
            set ports 22
            set status disable
        end
    next
    edit "custom-deep-inspection"
        set comment "Customizable deep inspection profile."
        config https
            set ports 443
            set status deep-inspection
        end
        config ftps
            set ports 990
            set status deep-inspection
        end
        config imaps
            set ports 993
            set status deep-inspection
        end
        config pop3s
            set ports 995
            set status deep-inspection
        end
        config smtps
            set ports 465
            set status deep-inspection
        end
        config ssh
            set ports 22
            set status deep-inspection
        end
        config ssl-exempt
            edit 1
                set fortiguard-category 31
            next
            edit 2
                set fortiguard-category 33
            next
            edit 3
                set type wildcard-fqdn
                set wildcard-fqdn "google-play"
            next
            edit 4
                set type wildcard-fqdn
                set wildcard-fqdn "update.microsoft.com"
            next
            edit 5
                set type wildcard-fqdn
                set wildcard-fqdn "swscan.apple.com"
            next
            edit 6
                set type wildcard-fqdn
                set wildcard-fqdn "autoupdate.opera.com"
            next
            edit 7
                set type wildcard-fqdn
                set wildcard-fqdn "android"
            next
            edit 8
                set type wildcard-fqdn
                set wildcard-fqdn "apple"
            next
            edit 9
                set type wildcard-fqdn
                set wildcard-fqdn "appstore"
            next
            edit 10
                set type wildcard-fqdn
                set wildcard-fqdn "citrix"
            next
            edit 11
                set type wildcard-fqdn
                set wildcard-fqdn "eease"
            next
            edit 12
                set type wildcard-fqdn
                set wildcard-fqdn "google-drive"
            next
            edit 13
                set type wildcard-fqdn
                set wildcard-fqdn "google-play2"
            next
            edit 14
                set type wildcard-fqdn
                set wildcard-fqdn "google-play3"
            next
            edit 15
                set type wildcard-fqdn
                set wildcard-fqdn "Gotomeeting"
            next
            edit 16
                set type wildcard-fqdn
                set wildcard-fqdn "microsoft"
            next
            edit 17
                set type wildcard-fqdn
                set wildcard-fqdn "adobe"
            next
            edit 18
                set type wildcard-fqdn
                set wildcard-fqdn "Adobe Login"
            next
            edit 19
                set type wildcard-fqdn
                set wildcard-fqdn "dropbox.com"
            next
            edit 20
                set type wildcard-fqdn
                set wildcard-fqdn "fortinet"
            next
            edit 21
                set type wildcard-fqdn
                set wildcard-fqdn "googleapis.com"
            next
            edit 22
                set type wildcard-fqdn
                set wildcard-fqdn "icloud"
            next
            edit 23
                set type wildcard-fqdn
                set wildcard-fqdn "itunes"
            next
            edit 24
                set type wildcard-fqdn
                set wildcard-fqdn "skype"
            next
            edit 25
                set type wildcard-fqdn
                set wildcard-fqdn "verisign"
            next
            edit 26
                set type wildcard-fqdn
                set wildcard-fqdn "Windows update 2"
            next
            edit 27
                set type wildcard-fqdn
                set wildcard-fqdn "auth.gfx.ms"
            next
            edit 28
                set type wildcard-fqdn
                set wildcard-fqdn "softwareupdate.vmware.com"
            next
            edit 29
                set type wildcard-fqdn
                set wildcard-fqdn "firefox update server"
            next
            edit 30
                set type wildcard-fqdn
                set wildcard-fqdn "live.com"
            next
        end
    next
    edit "SSL_GUEST"
        config https
            set ports 443
            set status certificate-inspection
        end
        config ftps
            set ports 990
            set status deep-inspection
        end
        config imaps
            set ports 993
            set status deep-inspection
        end
        config pop3s
            set ports 995
            set status deep-inspection
        end
        config smtps
            set ports 465
            set status deep-inspection
        end
        config ssh
            set ports 22
            set status deep-inspection
        end
    next
    edit "SSL_PDR_LOJA"
        config https
            set ports 443
            set status certificate-inspection
            set invalid-server-cert allow
        end
        config ftps
            set ports 990
            set status deep-inspection
        end
        config imaps
            set ports 993
            set status deep-inspection
        end
        config pop3s
            set ports 995
            set status deep-inspection
        end
        config smtps
            set ports 465
            set status deep-inspection
        end
        config ssh
            set ports 22
            set status disable
        end
    next
    edit "SSL_PDR_VENDEDOR"
        config ssl
            set inspect-all deep-inspection
            set untrusted-server-cert block
        end
        config https
        end
        config ftps
        end
        config imaps
        end
        config pop3s
        end
        config smtps
        end
        config ssh
            set ports 22
            set status deep-inspection
        end
        config ssl-exempt
            edit 1
                set fortiguard-category 31
            next
            edit 2
                set fortiguard-category 33
            next
            edit 3
                set fortiguard-category 87
            next
        end
    next
    edit "deep-inspection"
        set comment "Read-only deep inspection profile."
        config https
            set ports 443
            set status deep-inspection
        end
        config ftps
            set ports 990
            set status deep-inspection
        end
        config imaps
            set ports 993
            set status deep-inspection
        end
        config pop3s
            set ports 995
            set status deep-inspection
        end
        config smtps
            set ports 465
            set status deep-inspection
        end
        config ssh
            set ports 22
            set status disable
        end
        config ssl-exempt
            edit 1
                set fortiguard-category 31
            next
            edit 2
                set fortiguard-category 33
            next
            edit 3
                set type wildcard-fqdn
                set wildcard-fqdn "adobe"
            next
            edit 4
                set type wildcard-fqdn
                set wildcard-fqdn "Adobe Login"
            next
            edit 5
                set type wildcard-fqdn
                set wildcard-fqdn "android"
            next
            edit 6
                set type wildcard-fqdn
                set wildcard-fqdn "apple"
            next
            edit 7
                set type wildcard-fqdn
                set wildcard-fqdn "appstore"
            next
            edit 8
                set type wildcard-fqdn
                set wildcard-fqdn "auth.gfx.ms"
            next
            edit 9
                set type wildcard-fqdn
                set wildcard-fqdn "citrix"
            next
            edit 10
                set type wildcard-fqdn
                set wildcard-fqdn "dropbox.com"
            next
            edit 11
                set type wildcard-fqdn
                set wildcard-fqdn "eease"
            next
            edit 12
                set type wildcard-fqdn
                set wildcard-fqdn "firefox update server"
            next
            edit 13
                set type wildcard-fqdn
                set wildcard-fqdn "fortinet"
            next
            edit 14
                set type wildcard-fqdn
                set wildcard-fqdn "googleapis.com"
            next
            edit 15
                set type wildcard-fqdn
                set wildcard-fqdn "google-drive"
            next
            edit 16
                set type wildcard-fqdn
                set wildcard-fqdn "google-play2"
            next
            edit 17
                set type wildcard-fqdn
                set wildcard-fqdn "google-play3"
            next
            edit 18
                set type wildcard-fqdn
                set wildcard-fqdn "Gotomeeting"
            next
            edit 19
                set type wildcard-fqdn
                set wildcard-fqdn "icloud"
            next
            edit 20
                set type wildcard-fqdn
                set wildcard-fqdn "itunes"
            next
            edit 21
                set type wildcard-fqdn
                set wildcard-fqdn "microsoft"
            next
            edit 22
                set type wildcard-fqdn
                set wildcard-fqdn "skype"
            next
            edit 23
                set type wildcard-fqdn
                set wildcard-fqdn "softwareupdate.vmware.com"
            next
            edit 24
                set type wildcard-fqdn
                set wildcard-fqdn "verisign"
            next
            edit 25
                set type wildcard-fqdn
                set wildcard-fqdn "Windows update 2"
            next
            edit 26
                set type wildcard-fqdn
                set wildcard-fqdn "live.com"
            next
            edit 27
                set type wildcard-fqdn
                set wildcard-fqdn "google-play"
            next
            edit 28
                set type wildcard-fqdn
                set wildcard-fqdn "update.microsoft.com"
            next
            edit 29
                set type wildcard-fqdn
                set wildcard-fqdn "swscan.apple.com"
            next
            edit 30
                set type wildcard-fqdn
                set wildcard-fqdn "autoupdate.opera.com"
            next
        end
    next
end